// http://ionicframework.com/docs/theming/

.backgroundColor {
    background-color:#E0FFFF;
}

#container{
    border: 1px solid #ccc;
    padding: 15px 5px 15px 5px;
    border-radius: 8px;
    background-color: #FFF;
    
top:50%;
left:50%;
}

.button-container {
    margin-top:15px;
}